name: CI

on:
  push:
    branches:
      - main
      - 'feature/**'
      - 'defect/**'
  pull_request:
    branches:
      - main
  release:
    types: [published]

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit

  docker:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/docker.yml
    secrets: inherit
